---
const { copy } = Astro.props;
---
<div class="topbar" role="navigation" aria-label={copy.irTeam}>
  <div class="topbar__inner">
    <div class="topbar__links">
      <a href="tel:+966920000000">{copy.contact}</a>
      <a href="mailto:ir@alsaifgallery.com">{copy.irTeam}</a>
    </div>
    <div class="topbar__links">
      <a href={copy.langToggleHref}>{copy.langToggle}</a>
    </div>
  </div>
</div>
